[user]
	name = Dan Berglund
	email = dan@berglund.io
[push]
	default = simple
    autoSetupRemote = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	ff = only
	tool = vimdiff
[pull]
	rebase = true
[diff]
	tool = nvimdiff

[init]
    templatedir = ~/.git/templates/
	defaultBranch = main

[bontouch]
    email = dan.berglund@bontouch.com
    regex = "*/bontouch/*"
[core]
	editor = nvim
[commit]
	gpgsign = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[maintenance]
	repo = /Users/jag/clones/vcm/ios
