[user]
	name = Dan Berglund
	email = dan@berglund.io
	signingkey = /Users/dberglu1/.ssh/id_ed25519.pub
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	ff = only
	tool = vimdiff
[pull]
	rebase = true
[diff]
	tool = nvimdiff
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[init]
    templatedir = ~/.git/templates/
	defaultBranch = main

[bontouch]
    email = dan.berglund@bontouch.com
    regex = "*/bontouch/*"
[core]
	editor = nvim
	untrackedCache = true
[commit]
	gpgsign = true
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[maintenance]
	repo = /Users/jag/clones/vcm/ios
	repo = /Users/dberglu1/clones/volvo-cars/volvo-cars-ios
[gpg]
	format = ssh
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
