[user]
	name = Dan Berglund
	email = dan@berglund.io
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	ff = only
	tool = vimdiff
[pull]
	rebase = true
[diff]
	tool = vimdiff

[init]
    templatedir = ~/.git/templates/

[bontouch]
    email = dan.berglund@bontouch.com
    regex = "*/bontouch/*"
[core]
	editor = nvim
[commit]
	gpgsign = true
